* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgba(129, 133, 90, 0.792);
    display: flex;
    flex-direction: column;
}
header {
    background-color: blanchedalmond;
    padding: 20px; 
    font-style: italic;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: justify;
}
/* Стиль верхней панели навигации */
.topnav {
    overflow: hidden;
    background-color: #6d6e5d;
}

/* Стиль ссылок в верхней панели навигации */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration-color: bisque;
}

/* Изменить цвет при наведении */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(90, 123, 12);
}
li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

footer {
    background-color: blanchedalmond;
    padding: 20px;
    text-align:center;
    margin-top: 30px;}