html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding-top: 80px;
    background-color: black;
    color: antiquewhite;
    padding: 0;
    margin: 0;
    background-image: url(https://sun9-25.userapi.com/impg/cZIeB5DMK92czV3RBVtEz0we5YPFUrG8_Ws2Ag/DXT6oAZ41LY.jpg?size=1080x721&quality=96&sign=f966be6f7c44eb687f7b06e289a7160c&type=album);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: 13.8571px;
    text-transform: uppercase;
    margin: 0;

}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.97px;
    text-transform: uppercase;
}

h4 {
    display: inline-block;
    flex-shrink: 0;
    padding-left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.97px;
    text-transform: uppercase;
}

h5 {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.97px;
}

.description-title p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 5px;
    letter-spacing: 8.8571px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 600px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px 0 25px;
    position: fixed;
    top: 0;
    background-color: black;
}

.topnavLinks {
    display: flex;
    align-items: center;
}

.topnavLinks a {
    text-decoration: none;
    color: antiquewhite;
    width: 120px;
    font-size: large;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 5px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.dropdown {
    display: none;
}

.title1 {
    display: none;
}

.aboutKZ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}

.padding {
    font-weight: bold;
    font-size: 24px;
    display: inline;
    padding-left: 2px;
}

.aboutKZ-text {
    flex-basis: 50%;
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutKZ-image {
    flex-basis: 50%;
}

.aboutKZ-image img {
    width: 100%;
    padding: 80px;
}

.aboutKZ-text p {
    text-align: justify;
    font-weight: 300;
    letter-spacing: 3px;
    text-indent: 1.5cm;
    margin: 0;
}

.aboutProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.aboutProject-text {
    text-align: justify;
    font-weight: 300;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 10px;
    align-items: center;
}

.aboutProject-text p {
    text-indent: 1.5cm;
}

.photoFlower {
    flex-basis: 50%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.photoFlower img {
    width: 300px;
    height: 200px;
}

.list1 {
    position: absolute;
    width: 100px;
    left: 0;
    top: -20%;
}

.list1:hover {
    position: absolute;
    left: 0;
    top: -20%;
    z-index: 2;
}

.list2 {
    position: absolute;
    width: 100px;
    left: 20%;
    top: 0;
}

.list2:hover {
    z-index: 2;
}

.list3 {
    position: absolute;
    width: 100px;
    left: 40%;
    top: 20%;
}

.videoContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.video-discription {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.video-content {
    display: flex;
    flex-basis: 50%;
    padding: 10px;
    border: solid 2px white;

}

.video-discription p {
    text-align: justify;
    font-weight: 300;
    letter-spacing: 3px;
    text-indent: 1.5cm;
}

hr {
    margin-left: 15px;
    margin-right: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    margin-top: 350px;
    width: 100%;
}

.main_title {
    display: flex;
    justify-content: center;
}

.main_title_navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.97px;
    text-transform: uppercase;
    display: flex;

}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.alink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alink a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(198, 10, 13);
}

.alink p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: rgba(241, 236, 236, 0.4);
    white-space: pre-line;
    letter-spacing: 1.8px;
}

.footerlink {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.icons img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown-content img {
    width: 30px;
    height: 15px;
    border-radius: 50%;
}

.topnavLinks img {
    width: 25px;
    height: 15px;
}


form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea, select {
    font: 1em sans-serif;
    width: 77%;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {
    margin-left: 0.5em;
  }

  fieldset {
    border-radius: 1em;
  }

  section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    text-align: justify;
    padding: 25px;
}

.column p {
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1.8px;
}

 li {
    padding: 10px 0 10px 0;
 }

@media screen and (max-width: 1200px) {
    .topnavLinks {
        display: none;
    }

    .dropdown {
        display: flex;
        align-items: center;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 50%;
        top: 50%;
        background-color: rgb(33, 32, 32);
        min-width: 300px;
        padding: 12px 16px;
        z-index: 1;
        height: 310px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        color: antiquewhite;
        justify-content: center;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown img {
        width: 30px;
        height: 30px;
    }

    .dropdown p {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .dropdown a {
        text-decoration: none;
        color: antiquewhite;
        width: 120px;
        font-size: large;
        text-align: center;
        justify-content: center;
        font-weight: 300;
        font-size: 15px;
        line-height: 5px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .title1 {
        display: none;
    }

    .aboutKZ-image img {
        width: 100%;
        padding: 60px;
    }
}

@media screen and (max-width: 1024px) {

    h2 {
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 40px;
        line-height: 80px;
        letter-spacing: 12.8571px;
        text-transform: uppercase;
        margin: 0;

    }

    .description-title p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 15px;
        line-height: 5px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 400px;
        padding: 0;
    }

    .title1 {
        display: none;
    }

    .aboutKZ {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .aboutProject {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 150px;

    }

    .aboutProject-text {
        flex-basis: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .list1 {
        position: absolute;
        width: 100px;
        left: 0;
        top: -20%;
    }

    .list2 {
        position: absolute;
        width: 100px;
        left: 30%;
        top: 0;
    }

    .list3 {
        position: absolute;
        width: 100px;
        left: 60%;
        top: 20%;
    }

    .videoContent {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 20px;
        height: 500px;
        margin-top: 500px;
        margin-bottom: 100px;
    }

    .links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .alink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    nav {
        margin-bottom: 100px;
    }

    .columns {
        display: flex;
        flex-direction: column;
    }

    iframe {
        height: 500px;
      }
}

@media screen and (max-width: 820px) {

    h2 {
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 30px;
        line-height: 60px;
        letter-spacing: 11.8571px;
        text-transform: uppercase;
        margin: 0;

    }

    .description-title p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 5px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 300px;
        padding: 0;
    }

    .title1 img {
        transform: rotate(-90deg);
        width: 100%;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .title {
        display: none;
    }

    .title1 {
        display: flex;
    }

    iframe {
        height: 400px;
      }

}

@media screen and (max-width: 600px) {

    h2 {
        padding-top: 45px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0;

    }

    .description-title p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 9px;
        line-height: 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 180px;
        padding: 0;
    }

    h3 {
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
    }

    .aboutKZ-image img {
        width: 100%;
        padding: 20px;
    }

    .list1 {
        position: absolute;
        left: 0;
        top: 0;
    }

    .list2 {
        position: absolute;
        left: 8%;
        top: 600%;
    }

    .list3 {
        position: absolute;
        left: 13%;
        top: 1200%;
    }

    .list1:hover {
        position: absolute;
        left: 0;
        top: -40%;
        z-index: 2;
        width: calc(300px + 40px);
        height: calc(200px + 30px);
    }

    .list2:hover {
        position: absolute;
        left: 0;
        top: 400%;
        z-index: 2;
        width: calc(300px + 40px);
        height: calc(200px + 30px);
    }

    .list3:hover {
        position: absolute;
        left: 0;
        top: 1000%;
        z-index: 2;
        width: calc(300px + 40px);
        height: calc(200px + 30px);
    }


    .aboutProject-text p {
        margin-bottom: 150px;
    }

    form {
        
        margin: 200px 0 100px 0;
        width: 90%;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
      }

      label {
        display: inline-block;
        width: 20px;
        text-align: right;
      }
      
      input,
      textarea, select {
        font: 1em sans-serif;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #999;
      }
      fieldset {
        border-radius: 1em;
      }

      iframe {
        height: 200px;
      }
}